@font-face {
	font-family: zombie;
	src: url(zombie.ttf);
}

body { 
	margin:0px; 
}

#game {
	overflow: hidden;
	margin: auto;
}

#game #shade {
	background-color: black;
	opacity: 0.7;
}

#game #score {
	top: 0px;
	right: 0px;
	padding: 5px 5px 10px 25px;
	border-radius: 0px 0px 0px 100%;
	
	background-image: -webkit-linear-gradient(top right, white, rgba(255, 255, 255, 0));
	background-image: -moz-linear-gradient(top right, white, rgba(255, 255, 255, 0));
	background-image: -ms-linear-gradient(top right, white, rgba(255, 255, 255, 0));
	background-image: -o-linear-gradient(top right, white, rgba(255, 255, 255, 0));
	background-image: linear-gradient(top right, white, rgba(255, 255, 255, 0));
}

#game .hint {
	padding: 2em 1.5em 4em 1.5em;
	cursor: pointer;
	text-align: justify;
	background-color: rgba(255, 255, 255, 0.5);
	border-radius: 50%;
	border: 3px solid black;
	max-width: 350px;
}

#game .hint h2 {
	text-align: center;
	font-size: 120%;
	margin-top: 0px;
}

#game .hint p {
	font-size: 80%;
	text-align: center;
}

#game span {
	font-family: zombie;
	font-size: 100px;
	text-shadow: 0px 0px 0.25em red;
}

#game #box {
	text-align: center;
}

#game #box a {
	color: black;
	text-shadow: 0px 0px 0.25em red;
}

#game #box input {
	font-size: 300%;
	padding: 0.3em 0.6em;
	cursor: pointer;
}
